<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644811155639-mai136aj4sb3fleevu29rn9q8s59nmat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644811155639-mai136aj4sb3fleevu29rn9q8s59nmat</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9iVvL8ocYsdy79xsSodt28ZrhNamdRY</string>
	<key>GCM_SENDER_ID</key>
	<string>644811155639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workersrightsstudio.workersrights</string>
	<key>PROJECT_ID</key>
	<string>workers-rights-46c43</string>
	<key>STORAGE_BUCKET</key>
	<string>workers-rights-46c43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644811155639:ios:b8609c6649605f9c30c532</string>
	<key>DATABASE_URL</key>
	<string>https://workers-rights-46c43.firebaseio.com</string>
</dict>
</plist>